.header {
  .header__container {
    padding: 45px;
    border-bottom: 1px solid #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      display: flex;
      align-items: center;
      gap: 16px;
      .logo__text {
        h4 {
          font-weight: 700;
          font-size: 20px;
          text-transform: uppercase;
          color: #000;
        }
        p {
          font-weight: 400;
          font-size: 14px;
          color: #9d9d9d;
        }
      }
    }
    .User {
      .UserList {
        display: flex;
        align-items: center;
        gap: 32px;
        .UserItem {
          display: flex;
          align-items: center;
          gap: 10px;
          cursor: pointer;
          span {
            font-weight: 600;
            font-size: 14px;
            color: #5c5c5c;
          }
        }
      }
    }
  }
}
